:root {
  --main-bg-color-dark: #1a1b1a;
  --main-bg-color: #e3dac9;
  --side-menu-bar-bg-color: #45423e;
  --side-menu-bar-bg-color-dark: #202020;
  --side-gray-text: #7d7d7d;
}

.header-board {
  background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExaHk4b3g5Z202ajJ3OG1zeXBoZHBocmo4aGtvemdvcmtvbGd6and6ciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/eHQ5BsgBIBIGI/giphy.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  height: 200px;
  width: 100%;
  margin-top: 3em;
}

.home-container.light {
  background-color: var(--main-bg-color);
}

.home-container.dark {
  background-color: var(--main-bg-color-dark);
}

.home-container {
  min-height: 100vh;
  display: flex;
}

.top-logo,
.light h1 {
  color: rgb(0, 0, 0);
  margin-left: 1em;
}

.top-logo,
.dark h1 {
  color: rgb(255, 255, 255);
  margin-left: 1em;
}

.top-logo {
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  height: 2px;
  background-color: var(--side-gray-text);
  width: 96%;
}
.menu-side-container.dark {
  background-color: var(--side-menu-bar-bg-color-dark);
}

.menu-side-container.light {
  background-color: var(--side-menu-bar-bg-color);
}

.menu-side-container {
  width: 240px;
  height: 100vh;
  padding: 9px;
  background-color: var(--side-menu-bar-bg-color);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
}

.content-container {
  flex: 1;
  overflow-y: auto;
  margin-left: 220px;
  padding: 20px;
  padding-right: 0;
}

.user-nickname-cotainer {
  display: flex;
}

.user-header {
  color: #d5d5d5;
  font-size: 1em;
  font-weight: lighter;
  text-align: center;
  position: relative;
  top: 4px;
  padding-left: 5px;
}

.user-icon {
  background-color: #353535;
  width: 23px;
  height: 24px;
  border-radius: 5px;
  color: #7d7d7d;
  text-align: center;
}

.menu-items {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.action-btn {
  display: flex;
  align-items: center;
  color: var(--side-gray-text);
  width: 240px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  border: none;
}

.action-btn:hover {
  background-color: #353535;
}

.action-btn p {
  position: relative;
  padding-left: 5px;
}

.dark-light-mode-btn {
  position: absolute;
  top: 0.8em;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.actions-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: start;
  gap: 50px;
  padding: 70px;
}

.shopping-list-container {
  justify-items: center;
  width: 100%;
  text-align: center;
}

.smart-recipe-preview,
.shopping-list-container,
.smart-recipe-input {
  justify-self: center; /* Выравнивание по центру ячейки */
}

.action-section h2,
h3 {
  color: #3c6841;
}

.recipe-preview-text {
  text-align: center;
  position: relative;
  top: 65px;
}

.preview-action-btns {
  background-color: #d9d9d9;
  border: none;
  width: 100px;
  padding: 10px;
  margin: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.preview-action-btns:hover {
  background-color: #bfbfbf;
  transform: scale(1.03);
}

.preview-action-btns:active {
  transform: scale(0.98);
}

.submit-btn {
  padding: 0.75rem;
  border-radius: 4px;
  border: none;
  margin: 1rem;
  cursor: pointer;
  &:hover {
    background-color: #4a4a4a53;
  }
  &:active {
    transform: scale(0.98);
  }
}

.smart-recipe-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative; /* Важно для позиционирования */
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.smart-recipe-preview .top-hr {
  position: absolute;
  top: 70px;
  left: 40px;
  width: 80%;
  border: none;
  height: 2px;
  background-color: var(--side-gray-text);
  margin: 0;
}

.weekplate-header {
  margin: 1rem 2rem;
}

.week-container {
  display: inline-flex;
  align-items: center;
}

.edit-weektable {
  background: none;
  border: none;
  cursor: pointer;
  &:active {
    transform: scale(0.98);
  }
}

.week-table {
  width: 950px;
  border-collapse: collapse;
  margin: 2rem 0 2rem 2rem;
  font-size: 1rem;
  background-color: #b8e5c4; /* или свой цвет */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.week-table thead {
  background-color: #95d5b2;
  color: #000;
  font-weight: bold;
  text-align: left;
}

.week-table th,
.week-table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #a3cfbb;
}

.week-table td {
  color: #1f1f1f;
  font-weight: 500;
}

.week-table tr:last-child td {
  border-bottom: none;
}

.week-table th {
  gap: 8px;
}
.week-table th svg {
  width: 16px;
  height: 16px;
  fill: #333;
}

.week-table th .th-content {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
